name: C/C++ CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure (CMake)
        run: cmake -S cpp -B build -DCMAKE_BUILD_TYPE=Release -DTELEMETRY_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build --config Release -j 2

      - name: Test (ctest)
        run: ctest --test-dir build -C Release --output-on-failure
